.menu {
    width: 90%;
    margin: 0 auto;
}

.menu_navegacion {
    margin: 2rem 0 0 0;
}

.menu_lista_navegacion {
    display: flex;
    justify-content: space-between;
    gap: .5rem;
    margin: 0;
    padding: 0;
    list-style-type: none;
    height: 3.2rem;
}

.menu_mostrar {
    display: none;
}

.menu_asignatura {
    position: relative;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: #000000 solid .1rem;
    border-radius: 2.5rem;
}

.menu_cursos {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #000000 solid .1rem;
    border-radius: 2.5rem;
}

.menu_boton_desplegar {
    width: inherit;
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_buscar {
    width: 17.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #000000 solid .1rem;
    border-radius: 2.5rem;
}

.menu_acceder {
    width: 17.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #000000 solid .1rem;
    border-radius: 2.5rem;   
}

.boton_modal {
    all:unset;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_asignatura:hover .menu_mostrar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    min-height: 2.5rem;
    padding: 1rem 0;
    border: #000000 solid .1rem;
    border-radius: .8rem;
    list-style-type: none;
    top: 3.220rem;
}

.menu_item {
    cursor: pointer;
    width: 100%;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_item:hover {
    width: 100%;
    height: 2.5rem;
    background-color: rgb(230, 150, 88);
}
