.menu {
    width: 90%;
    margin: 0 auto;
}

.menu_navegacion {
    margin: 2rem 0 0 0;
}

.menu_lista_navegacion {
    display: flex;
    justify-content: space-between;
    gap: .5rem;
    margin: 0;
    padding: 0;
    list-style-type: none;
    height: 3.2rem;
}

.menu_mostrar {
    display: none;
}

.menu_asignatura {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: #000000 solid .1rem;
    border-radius: 2.5rem;
}

.menu_cursos {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #000000 solid .1rem;
    border-radius: 2.5rem;
}

.menu_boton_desplegar {
    width: inherit;
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_buscar {
    width: 17.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #000000 solid .1rem;
    border-radius: 2.5rem;
}

.menu_acceder {
    width: 17.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #000000 solid .1rem;
    border-radius: 2.5rem;   
}

.boton_modal {
    all:unset;
    display: flex;
    justify-content: center;
    align-items: center;
}
