.menu {
    margin: 2rem 0 0 0;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

.menu_contenido_listas {
    display: flex;
    justify-content: space-between;
    gap: .5rem;
}

.menu--desplegar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 14rem;
    height: 3.5rem;
    border: .1rem solid #000000;
    border-radius: 2.5rem;
}

.menu--mostrar {
    display: none;
}

.menu--desplegar:hover .menu--mostrar {
    display: block;
    width: 6rem;
    height: auto;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.desplegar_modificador {
    width: 30rem;
}

.buscador {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 14rem;
    height: 3.5rem;
    border: .1rem solid #000000;
    border-radius: 2.5rem;
}

.menu_modal {
    all:unset;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 14rem;
    height: 3.5rem;
    border: .1rem solid #000000;
    border-radius: 2.5rem;
}
