.menu {
    width: 80%;
    margin: 0 auto;
}

.menu_contenido_listas {
    margin: 2rem 0 0 0;
    display: flex;
    justify-content: space-between;
    gap: .5rem;
}

.menu_mostrar {
    display: none;
}

.menu_desplegar_asignatura {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 20rem;
    height: 3.5rem;
    border: .1rem solid #000000;
    border-radius: 2.5rem;
}

/* .menu_mostrar:hover .menu_desplegar_asignatura{
    display: block;
    position: absolute;
    background-color: red;
} */

.menu_desplegar_cursos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 36rem;
    height: 3.5rem;
    border: .1rem solid #000000;
    border-radius: 2.5rem;
}

.menu_desplegar:hover .menu_mostrar {
    display: block;
    width: 6rem;
    height: auto;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.buscador {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 20rem;
    height: 3.5rem;
    border: .1rem solid #000000;
    border-radius: 2.5rem;
}

.menu_modal {
    all:unset;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 20rem;
    height: 3.5rem;
    border: .1rem solid #000000;
    border-radius: 2.5rem;
}
